{
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": [
            "WARN",
            4
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.test.js",
                "**/*.test.jsx"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}